@font-face {
    font-family: lato;
    src: url("Lato/Lato-Regular.ttf");
}

div > p {
    color: red;
}

body {
    font-family: 'lato', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    padding:8px;
    background-color: lightskyblue;
    text-decoration: none;
    color: black;
}

li a:hover {
    background-color: dodgerblue;
}

.active {
    background-color: #0c6dc4;
}