html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    background-color: #EEEEEE;
    font-family: 'Bitter', serif;

}
.container {
    width: 80%;
    margin: 0 auto;
    background-color: #FFF;
    padding: 15px;
    border-radius: 5px;
}
.navsection {
    display: flex;
    width: 96%;
    justify-content: space-between;
    background-color: dimgray;
    border-radius: 10px;
    margin: 0 auto;
    padding: 15px;
    }
.navsection a {
    color: #FFF;
    text-decoration: none;
}
.navlink:hover {
    background-color: #888888;
}
.mylink {
    background-color: #0c6dc4;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    margin-top: 3px;
    text-decoration: none;
    width: 100%;
    font-size: 11pt;
}

.formcontainer{
    width: 20%;
    margin: 30px auto;
    border: 1px solid;
    padding: 18px;
    border-radius: 7px;
    background-color: #eeeeee;
}

.row{
    display: flex;
    justify-content: space-between;
    margin:2px;
}
.mytitle {
    font-size: 30px;
    margin: 22px 0 40px 15px;
    display: flex;
    justify-content: space-between;

}

#aboutmepage .aboutmelink {
    text-decoration: underline;
}

#resumepage .resumelink {
    text-decoration: underline;
}

#projectspage .projectlink {
    text-decoration: underline;
}

#contactpage .contactlink {
    text-decoration: underline;
}

#homepage .homelink {
    text-decoration: underline;
}

.mydescription {
    height: 675px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
}
.descriptioncontentme {

    background-color: #EEEEEE;
    padding: 10px;
    width: 30%;
    font-size: 14px;
    -webkit-box-shadow: 2px 4px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 14px 0px rgba(0,0,0,0.75);
}

.descriptioncontent {
    padding: 10px;
    width: 65%;
}

.myprojectscontainer {
    margin: 15px;
    display: flex;
    justify-content: space-around;


}

.myprojectlist {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    width: 55%;


}

.myprojectdescription {
    background-color: #EEEEEE;
    padding: 10px;
    width: 35%;
    font-size: 14px;
    -webkit-box-shadow: 2px 4px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 14px 0px rgba(0,0,0,0.75);


}

.projectbox {
    background-color: #EEEEEE;
    padding: 10px;
    margin: 0 0 5px 0;
    width: 45%;
    font-size: 14px;
    -webkit-box-shadow: 2px 4px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 14px 0px rgba(0,0,0,0.75);

}