body {
    background-color: #EEEEEE;
    font-family: 'Bitter', serif;

}
.container {
    width: 80%;
    margin: 0 auto;
    background-color: #FFF;
    padding: 15px;
    border-radius: 5px;
}
.navsection {
    display: flex;
    width: 96%;
    justify-content: space-between;
    background-color: dimgray;
    border-radius: 10px;
    margin: 0 auto;
    padding: 15px;
}
.navsection a {
    color: #FFF;
    text-decoration: none;
}
.navlink:hover {
    background-color: #888888;
}
.mylink {
    display: block;
    background-color: #0c6dc4;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    margin-top: 3px;
    text-decoration: none;
}

.formcontainer{
    width: 25%;
    margin: 30px auto;
    border: 1px solid;
    padding: 20px;
    border-radius: 7px;
}

.row{
    display: flex;
    justify-content: space-between;
}
.mytitle {
    font-size: 30px;
    margin: 22px 0 40px 15px;
    display: flex;
    justify-content: space-between;

}
#aboutmepage .aboutmelink {
    text-decoration: underline;
}
.mydescription {
    height: 675px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
}
.descriptioncontent {
    width: 45%;
    background-color: #EEEEEE;
    padding: 10px;
}